@using KibiLights.Models
@model IEnumerable<User>
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Users</h1>

<table class="table table-dark table-hover">
    <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
    </tr>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.Id</td>
            <td>@u.Email</td>
            <td>@u.Role.Name</td>
            <td><a href="~/Admin/Users/DeleteUser?id=@u.Id">Delete</a></td>
        </tr>
    }
</table>

<h2>Add User</h2>
<form class="my-3" method="post" asp-area="Admin" asp-controller="Users" asp-action="AddUser">
    <div class="form-group form-row">
        <div class="col-sm-3">
            <label>Email:</label>
            </div>
        <div class="col-sm-3">
            <input class="form-control-plaintext bg-secondary" type="text" name="email" />
        </div>
        </div>
    <div class="form-group form-row">
        <div class="col-sm-3">
            <label>Password:</label>
            </div>
        <div class="col-sm-3">
            <input class="form-control-plaintext bg-secondary" type="text" name="password" />
        </div>
        </div>
    <div class="form-group form-row">
        <div class="col-sm-3">
            <label>Role:</label>
            </div>
        <div class="col-sm-3">
            <select class="form-control-plaintext bg-secondary" name="roleId">
                @foreach (var r in (List<Role>)ViewData["Roles"])
                {
                    <option value="@r.Id">@r.Name</option>
                }
            </select>
            </div>
        </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Add" />
        </div>
</form>