@using KibiLights.Models.Lighthouse
@{
    Facility facility = (Facility)ViewData["Facility"];
    ViewData["Title"] = facility.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@facility.Name</h1>
<p><a asp-area="Admin" asp-controller="Lighthouse" asp-action="Index">Back to facility list</a></p>

<h2>Beacons</h2>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    @foreach (Beacon b in (List<Beacon>)ViewData["Beacons"])
    {
<tr>
    <td>@b.Id</td>
    <td>@b.Name</td>
    <td>
        <button class="btn btn-sm" onclick="Call(@b.Id)">Call</button>
    <a href="~/Admin/Lighthouse/DeleteBeacon?id=@b.Id&facilityId=@facility.Id">Delete</a>
    </td>
</tr>
    }
</table>

<h3>Add beacon</h3>
<form method="post" asp-area="Admin" asp-action="AddBeacon" asp-controller="Lighthouse">
    <input type="hidden" name="facilityId" value="@facility.Id" />
    <label>Name: </label>
    <input type="text" name="name" />
    <input type="submit" value="Add" />
</form>

<h2>Routes</h2>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Content</th>
        <th>Action</th>
    </tr>
    @foreach (Route r in (List<Route>)ViewData["Routes"])
    {
        <tr>
            <td>@r.Id</td>
            <td>@r.Name</td>
            <td>@r.Content</td>
            <td>
                <a href="~/Admin/Lighthouse/EditRoute?id=@r.Id">Edit</a>
                <a href="~/Admin/Lighthouse/DeleteRoute?id=@r.Id&facilityId=@facility.Id">Delete</a>
            </td>
        </tr>
    }
</table>

<h3>Add route</h3>
<form method="post" asp-area="Admin" asp-action="AddRoute" asp-controller="Lighthouse">
    <input type="hidden" name="facilityId" value="@facility.Id" />
    <label>Name:</label><br />
    <input type="text" name="name" /><br />
    <label>Content:</label><br />
    <textarea name="content"></textarea><br />
    <input type="submit" value="Add" />
</form>
<script>
    function Call(id) {
        fetch("/api/lighthouse/call?name=@facility.User.Email&id=" + id);
    }
</script>